<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Art Store</title>
    <meta name="csrf-token" id="_csrf" th:content="${_csrf.token}"/>
    <meta name="csrf-header" id="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        td, th {
            margin: 8px;
        }
    </style>
</head>
<body>
<nav>
    <menu>
        <ul>
            <li><a th:href="@{/}">General page</a></li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/privatePage}">Private page</a></li>
            <li sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/mainAdminPage}">ADMIN MENU:</a>
                <ol type="1">
                    <li><a th:href="@{/adminPage}">Create or view a PICTURE, CATEGORY, AUTHOR, AUCTION</a></li>
                    <li><a th:href="@{/adminPageBets}">Admin page</a></li>
                    <li><a th:href="@{/adminPageUsers}">All USERS</a></li>
                </ol>
            </li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/singup}">Sing Up</a></li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/login}">Login</a></li>
            <li sec:authorize="isAuthenticated()">
                Welcome <span sec:authentication="name"></span>!
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Logout</a></li>
        </ul>
    </menu>
</nav>
<h1 style="color:deeppink">Admin page</h1>

</body>
</html>