<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        td, th {
            margin: 8px;
        }
    </style>
</head>
<body>
<nav>
    <menu>
        <li><a th:href="@{/}">General page</a></li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/privatePage}">Private page</a></li>
        <li sec:authorize="hasRole('USER')">
            <a th:href="@{/userPage}">User page</a></li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/mainAdminPage}">Admin page</a></li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/singup}">Sing Up</a></li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()">
            Welcome <span sec:authentication="name"></span>!
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Logout</a></li>
    </menu>
</nav>
<h1>Information about me:</h1>
<table>
    <thead>
    <tr>
        <th>My first name:</th>
        <th>My last name:</th>
        <th>My birthday:</th>
        <th>My email:</th>
        <th>My telephone:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userDetail:${userDetails}">
        <td th:text="${userDetail.firstName}"></td>
        <td th:text="${userDetail.lastName}"></td>
        <td th:text="${userDetail.birthDate.toLocalDate()}"></td>
        <td th:text="${userDetail.email}"></td>
        <td th:text="${userDetail.telephone}"></td>
    </tbody>
</table>
</body>
</html>

<!--<td th:each="user : ${user}">-->
<!--    <a th:if="${username == user.username}" th:href="@{/profile/{id}(id=${user.id}}">Profile</a>-->
<!--</td>-->