<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Art Store</title>
    <meta name="csrf-token" id="_csrf" th:content="${_csrf.token}"/>
    <meta name="csrf-header" id="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        td, th {
            margin: 8px;
        }
    </style>
</head>
<body>
<nav>
    <menu>
        <li><a th:href="@{/}">General page</a></li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/privatePage}">Private page</a></li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/mainAdminPage}">Admin page</a></li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/singup}">Sing Up</a></li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()">
            Welcome <span sec:authentication="name"></span>!
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Logout</a></li>
    </menu>
</nav>
<h1 style="color: blue">Private page</h1>
<h2 sec:authorize="isAuthenticated()">Welcome <span sec:authentication="name"></span>! </h2>
<h3>To receive your winnings, go through the full registration.</h3>
<h1>Information about me:</h1>
<table>
    <thead>
    <tr>
        <th>My login:</th>
        <th>My password:</th>
        <th>You can:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td sec:authorize="hasRole('USER')"><a th:href="@{/userPage/{userId}(userId=${user.id})}">FULL REGISTRATION!</a></td>
    </tbody>
</table>


<h1>Active Auctions:</h1>
<table>
    <thead>
    <tr>
        <th>Title Auction:</th>
        <th>Start Date:</th>
        <th>End Date:</th>
        <th>Starting Price:</th>
        <th>Current Bet:</th>
        <th>Active:</th>
        <th>You can:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${auction.active == true}" th:each="auction:${auctions}">
        <td th:text="${auction.titleAuction}"></td>
        <td th:text="${auction.startDate}"></td>
        <td th:text="${auction.endDate}"></td>
        <td th:text="${auction.startingPrice}"></td>
        <td th:text="${auction.currentBet}"></td>
        <td th:text="${auction.active}"></td>
        <td sec:authorize="hasRole('USER')"><a th:href="@{/participateAuction/{auctionId}(auctionId=${auction.id})}">Participate!</a>
        </td>
    </tbody>
</table>
<h1>Artworks participating in Auctions:</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>ImagePath</th>
        <th>Size</th>
        <th>Material</th>
        <th>Price</th>
        <th>Sold</th>
        <th>Category</th>
        <th>Author</th>
        <th>Auction</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${painting.auction!=null && painting.sold==false}" th:each="painting:${paintings}">
        <td th:text="${painting.title}"></td>
        <td th:text="${painting.imagePath}"></td>
        <td th:text="${painting.size}"></td>
        <td th:text="${painting.material}"></td>
        <td th:text="${painting.price}"></td>
        <td th:text="${painting.sold}"></td>
        <td th:text="${painting.category.name}"></td>
        <td th:text="${painting.author.pseudonym}"></td>
        <td th:text="${painting.auction.titleAuction}"></td>
    </tbody>
</table>
<script type="text/javascript">
    const userName = '@HttpContext.Current.User.Identity.Name';
</script>
</body>
</html>