<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PrivatePage</title>
    <meta name="csrf-token" id="_csrf" th:content="${_csrf.token}"/>
    <meta name="csrf-header" id="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="userId" id="userId" th:content="${userId}"/>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        td, th {
            margin: 8px;
        }
    </style>
</head>
<body>
<nav>
    <menu>
        <li><a th:href="@{/}">General page</a></li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/privatePage}">Private page</a></li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/mainAdminPage}">Admin page</a></li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/singup}">Sing Up</a></li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()">
            Welcome <span sec:authentication="name"></span>!
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Logout</a></li>
    </menu>
</nav>
<h1 style="color: blue">Private page</h1>
<h2 sec:authorize="isAuthenticated()">Welcome <span sec:authentication="name"></span>! </h2>

<h1>Active Auctions:</h1>
<table>
    <thead>
    <tr>
        <th>Title Auction:</th>
        <th>Start Date:</th>
        <th>End Date:</th>
        <th>Starting Price:</th>
        <th>Current Bet:</th>
        <th>Active:</th>
        <th>You can:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${auction.active == true}" th:each="auction:${auctions}">
        <td th:text="${auction.titleAuction}"></td>
        <td th:text="${auction.startDate}"></td>
        <td th:text="${auction.endDate}"></td>
        <td th:text="${auction.startingPrice}"></td>
        <td th:text="${auction.currentBet}"></td>
        <td th:text="${auction.active}"></td>
        <td><a class="participate-link" th:href="@{/participateAuction/{auctionId}(auctionId=${auction.id})}">Participate!</a>
        </td>
    </tbody>
</table>
<h1>Artworks participating in Auctions:</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>ImagePath</th>
        <th>Size</th>
        <th>Material</th>
        <th>Price</th>
        <th>Sold</th>
        <th>Category</th>
        <th>Author</th>
        <th>Auction</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${painting.auction!=null && painting.sold==false}" th:each="painting:${paintings}">
        <td th:text="${painting.title}"></td>
        <td th:text="${painting.imagePath}"></td>
        <td th:text="${painting.size}"></td>
        <td th:text="${painting.material}"></td>
        <td th:text="${painting.price}"></td>
        <td th:text="${painting.sold}"></td>
        <td th:text="${painting.category.name}"></td>
        <td th:text="${painting.author.pseudonym}"></td>
        <td th:text="${painting.auction.titleAuction}"></td>
    </tbody>
</table>

<h1>Our talented artists:</h1>
<table>
    <thead>
    <tr>
        <th>Pseudonym:</th>
        <th>FirstName:</th>
        <th>Surname:</th>
        <th>BirthDate:</th>
        <th>Awards:</th>
        <th>ImagePath:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author:${authors}">
        <td th:text="${author.pseudonym}"></td>
        <td th:text="${author.firstName}"></td>
        <td th:text="${author.surname}"></td>
        <td th:text="${author.birthDate}"></td>
        <td th:text="${author.awards}"></td>
        <td th:text="${author.imagePath}"></td>
    </tbody>
</table>

<h3>If you are the lucky winner of the auction, please fill in additional information about yourself so that our manager can contact you to send your prize.</h3>

<div th:each="user:${users}">
    <h2 th:each="user : ${user}"><a th:if="${#authentication.getName() == user.username}" th:href="@{/userPage/{userId}(userId=${user.id})}">Additional information about the <span sec:authentication="name"></span></a></h2>
</div>

<script>
    // Get all the "Participate!" links on the page
    const baseURI = 'http://localhost:8080/participateAuction/';
    const participateLinks = document.querySelectorAll('.participate-link');

    // Attach a click event listener to each "Participate!" link
    participateLinks.forEach(link => {
        link.addEventListener('click', async (event) => {
            event.preventDefault(); // Prevent the link from navigating to a new page

            // Get the auction ID from the link's href attribute
            const auctionId = link.href.split('/').pop();

            try {
                // Make a POST request to the participateAuction endpoint with the auctionId parameter
                const response = await fetch(`${baseURI}${auctionId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({})
                });
                console.log(auctionId);
                if (response.ok) {
                    // Reload the page to see the updated auction information
                    window.location.reload();
                } else {
                    console.error(`Failed to participate in auction ${auctionId}: ${response.statusText}`);
                }
            } catch (error) {
                console.error(`Failed to participate in auction ${auctionId}: ${error}`);
            }
        });
    });

</script>


</body>
</html>