<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Art Store</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        td, th {
            margin: 8px;
        }
    </style>
</head>
<body>
<nav>
    <menu>
        <li><a th:href="@{/}">General page</a></li>
        <li><a th:href="@{/privatePage}">Private page</a></li>
        <li sec:authorize="hasRole('USER')">
            <a th:href="@{/userPage}">User page</a></li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/mainAdminPage}">Admin page</a></li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/singup}">Sing Up</a></li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()">
            Welcome <span sec:authentication="name"></span>!
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Logout</a></li>
    </menu>
</nav>
<h1 style="color:deeppink">Private user's page:</h1>
<h1>AUCTIONS</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Published</th>
        <th>Starting price</th>
        <th>Current Price</th>
        <th>Deadline</th>
        <th>Winner</th>
    </tr>
    </thead>
    <tbody id="Auctions-table"></tbody>
</table>
<script>
    const baseURI = 'http://localhost:8080/adminPageAuction/api/v2';
    const auctionsTable = document.getElementById('Auctions-table');
    const saveAuctionButton = document.getElementById('save');

    function addAuction(auction) {
        const tr = document.createElement('tr');
        for (const prop in auction) {
            const td = document.createElement('td');
            td.append(document.createTextNode(auction[prop]));
            tr.append(td);
        }
        auctionsTable.append(tr);
    }

    function fillTableAuctions(auctions) {
        auctionsTable.innerHTML = '';
        auctions.forEach(auction => {
            addAuction(auction);
        });
    }

    async function loadAuctions() {
        const response = await fetch(`${baseURI}/auctions`, {
            method: 'GET',
            headers: {
                'Accept': 'application/json'
            }
        });
        const auctions = await response.json();
        console.log(auctions);
        fillTableAuctions(auctions);
    }

    window.addEventListener('load', loadAuctions);

    async function saveAuction() {
        const titleInput = document.getElementById('title');
        const publishedInput = document.getElementById('published');
        const startingPriceInput = document.getElementById('startingPrice');
        const currentPriceInput = document.getElementById('currentPrice');
        const deadlineInput = document.getElementById('deadline');
        const winnerInput = document.getElementById('winner');

        const auction = {
            title: titleInput.value,
            published: publishedInput.value,
            startingPrice: startingPriceInput.value,
            currentPrice: currentPriceInput.value,
            deadline: deadlineInput.value,
            winner: winnerInput.value
        };
        const response = await fetch(`${baseURI}/auctions`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(auction)
        });
        console.log(response.status);
        if (response.status === 201) {
            const loc = response.headers.get('location');
            const resp = await fetch(`http://localhost:8080${loc}`)
            addUser(await resp.json())
        } else {
            alert('Error: ' + response.status);
        }
    }

    saveAuctionButton.addEventListener('click', saveAuction);
</script>
</body>
</html>